/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Garamond;
}
h1 {
  margin-bottom: 15px;
}

p {
  background-color: grey;
  width: 90%;
  margin: 30px auto 10px;
  color: white;
  font-size: large;
}

.menuitem {
  background-color: grey;
}

.label {
  border: 1px solid black;
  float: right;
  width: 33.33%;
  height: 25px;
  text-align: center;
  font-size: larger;
}

.menuitem:nth-child(1) .label {
    background-color: #d8949c;
}

.menuitem:nth-child(2) .label {
    background-color: #c14543;
}

.menuitem:nth-child(3) .label {
    background-color: #e5d198;
}