/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Garamond;
  font-size: 20px;
}
h1 {
  font-size: 35px;
  margin-bottom: 15px;
  text-align: center;
}

p {
  background-color: grey;
  width: 90%;
  color: black;
}

.content {
  position: relative;
  border: 1px solid black;
  background-color: grey;
  margin: 15px;
  padding-top: 30px;
}

.text {
  position: relative;
  overflow: hidden;
  height: 150px;
  padding: 15px 15px;
  margin: 0 0 5px;
}

.text:hover {
  overflow-y: scroll;
  cursor: n-resize;
}

.label {
  border: 1px solid black;
  position: absolute;
  top: 0;
  right: 0;
  width: 33.33%;
  height: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}

[class^="col-"]:nth-child(1) .label {
  background-color: #d8949c;
}

[class^="col-"]:nth-child(2) .label {
  background-color: #c14543;
  color: white;
}

[class^="col-"]:nth-child(3) .label {
  background-color: #e5d198;
}

h1.categories, .description {
  display: none;
}

/***** Mobile specific styles *****/
@media (max-width: 767px) {
  h1.categories {
    display: block;
    font-size: 25px;
    font-family: sans-serif;
    margin: 15px;
    text-align: left;
  }
  h1.menu {
    display: none;
  }
  .label {
    display: none;
    width: 100%;
  }
  .content{
    padding-top: 0px;
  }
  .description {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
  }
}
